*-env
.*-ghpages
.emacs.desktop*
.lsp-session-*
.sconsign.dblite
abbrev_defs
ac-comphist.dat
auto-save-list
custom.el
elpa
ghp-import.log
html/
image-dired
inactive.el
mspyls/
network-security.data
projectile-bookmarks.eld
publish.log
recentf
src/
tramp
transient/
url
var/
