[submodule "gist.el"]
	path = gist.el
	url = https://github.com/defunkt/gist.el.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
[submodule "python-pylint"]
	path = python-pylint
	url = git://gist.github.com/302848.git
